.full-height-navbar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 100%;
}

.navbar-brand-container {
    order: -1;
}
.navbar-align-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



  /* Ajustez la valeur selon vos besoins */