.navbar-custom {
  background-color: #343a40;
}

.navbar-custom .navbar-brand {
  color: #fff;
  font-weight: bold;
}

.navbar-custom .nav-link {
  color: #fff;
}

.navbar-custom .nav-link:hover {
  color: #fff;
  opacity: 0.8;
}

.navbar-custom .btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.navbar-custom .btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.navbar-custom .text-light {
  color: #fff;
}

.navbar-custom .ml-2 {
  margin-left: 8px;
}
